
<h1>User info</h1>
<%= image_tag @user.get_image %>

 <h4>名前</h4>
 <%= @user.name %>
 <h4>自己紹介文</h4>
 <%= @user.introduction %>

 <%= link_to 'edit', edit_user_path(@user) %>



 <h1>New book</h1>

 <%= form_with model: @book do |f| %>
 <h4>本のタイトル</h4>
 <%= f.text_field :title %>

 <h4>感想</h4>
 <%= f.text_area :body %>

 <%= f.submit 'create Book' %>
 <% end %>

 <h1>Books</h1>
 <% @books.each do |book| %>



  <h4>本のタイトル</h4>
   <%= book.title %>
  <h4>感想</h4>
   <%= book.body %>
  <% end %>

<h1>Book detail</h1>

<p>本のタイトル：<%= @book.title %></p>
<p>感想：<%= @book.body %></p>
<p>ユーザーネーム：<%= @book.user.name %></p>

<%= link_to 'edit', edit_book_path(@book) %>
<%= link_to "destroy", books_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？" %>